#personal-information,
#education,
#work-experience,
#skills,
#certificates,
#languages,
#interests {
  border-radius: 4px;
  padding: 0.2em 0.2em;
  margin: 2em;
}

.info-entry {
  display: flex;
  padding: 0;
}

#personal-information > .info-entry ~ .info-entry {
  display: flex;
  padding: 0.3em 0;
}

.info-title {
  width: 10rem;
  text-align: left;
}

.info-value {
  text-align: left;
}

.job-entry {
  display: flex;
  flex-direction: column;
}

.education-description p {
  padding: 0;
  margin: 0;
}
